@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Calming";
  src: url("../assests/fonts/Calming.ttf");
}

@font-face {
  font-family: "LufgaLight";
  src: url("../assests/fonts/LufgaLight.ttf");
}

@font-face {
  font-family: "Allenoire";
  src: url("../assests/fonts/Allenoire\ Font.otf");
}


@layer components{
  body {
    @apply p-10 bg-[#fdfcfd]  [&::-webkit-scrollbar]:hidden
  }

  .main {
    @apply m-3 lg:px-10 md:px-4 lg:max-w-[560px] md:w-[670px] mx-auto text-left pb-[100px]; 
  }

  .tag {
    @apply text-[15px] ml-1.5 flex items-center gap-2;
  }

}