@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .body {
    @apply p-4 md:p-10 [&::-webkit-scrollbar]:hidden h-screen w-screen bg-[#f4f2f2]
  }

  .main {
    @apply m-3 md:px-5 px-3 max-w-[540px] mx-auto text-left pb-[100px] bg-[#f4f2f2]
  }

  .tag {
    @apply text-[12px] ml-1.5 flex items-center gap-2;
  }

}

@font-face {
  font-family: "Calming";
  src: url("../assests/fonts/Calming.ttf");
}

@font-face {
  font-family: "LufgaLight";
  src: url("../assests/fonts/LufgaLight.ttf");
}

@font-face {
  font-family: "Allenoire";
  src: url("../assests/fonts/Allenoire\ Font.otf");
}

@font-face {
  font-family: "ABC";
  src: url("../assests/fonts/ABC.ttf");
}

@font-face {
  font-family: "Copernicus1";
  src: url("../assests/fonts/Copernicus1.ttf");
}

@font-face {
  font-family: "Copernicus2";
  src: url("../assests/fonts/Copernicus2.ttf");
}


@font-face {
  font-family: "EditorialNew-Italic";
  src: url("../assests/fonts/PPEditorialNew-Italic.otf");
}

@font-face {
  font-family: "EditorialNew-Ultralight";
  src: url("../assests/fonts/PPEditorialNew-Ultralight.otf");
}

@font-face {
  font-family: "STY";
  src: url("../assests/fonts/StyreneA-Regular-Trial-BF63f6cbd970ee9.otf");
}